MONGO_URI=mongodb://localhost:27017/your-database-name
RABBITMQ_URI=amqp://guest:guest@localhost:5672/
RABBITMQ_EXCHANGE=TASKS_EXCHANGE
RABBITMQ_EXCHANGE_TYPE=topic
RABBITMQ_QUEUE=TASKS_QUEUE
RABBITMQ_ROUTING_KEY=task.create
PORT=8080
GRPC_PORT=50051

